/* не забыть text-transform со значением «uppercase»*/

/*===MOBILE Reviews section===*/

.reviews {
  padding: 80px 20px 80px 20px;
  gap: 40px;
  background-color: #fbfbfb;
}
.reviews-title {
  gap: 20px;
  color: #141414;
}
.accent {
  background-color: #576f35;
}
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  margin-bottom: 50px;
}
.reviews-item {
  position: relative;

  /*width: calc((100% - 28px * 2) / 3);
  padding: 24px;
  padding-top: 56px;*/

  background-color: #fff;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);

  box-shadow: 0px 10px 100px 0px rgba(17, 17, 17, 0.03);
}
.reviews-avatar {
  /* margin: 0 auto;
  margin-top: ___px; */

  position: absolute;
  top: 0px;
  left: calc(50% - 40px);
}
.reviews-user {
  margin-bottom: 24px;

  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: center;
  background: #040306;
}

.reviews-message {
  font-family: Inter Tight;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  background: #04030666;
}
