<footer class="footer">
    <div class="div-footer-container">
        <div class="footer-logo">
            <a href="">LOGO</a>
        </div>
        <div class="footer-p-container">
            <p class="footer-p">
                Whether you're looking for a healthy <br>
                snack or a thoughtful gift, our fruit <br>
                baskets are the perfect choice.
            </p>
        </div>
        <div class="footer-list">
            <ul class="footer-ul">
                <li class="footer-li1">
                    <a href="#howitworks" class="footer-how-it-works">how it works</a>
                </li>
                <li class="footer-li2">
                    <a href="#vegetables" class="footer-vegatables">vegetables</a>
                </li>
                <li class="footer-li3">
                    <a href="#reviews" class="footer-reviews">reviews</a>
                </li>
            </ul>
        </div>
        <div class="footer-address-div">
            <address class="footer-address">
                <a href="tel:+380684439426"></a>
                1678 S. Pioneer Road Salt <br>
                Lake City UT 84104
            </address>
        </div>
    </div>
</footer>
