<footer class="footer">
  <div class="container">
    <div class="footer-section">
      <div class="footer-logo-text">
        <a href="#" class="footer__logo">
          <svg class="svg_logo" width="168" height="16">
            <use href="./icons.svg#logo"></use>
          </svg>
        </a>
        <p class="footer-p">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>

      <div class="footer-block">
        <nav>
        <ul class="footer-menu">
          <li class="footer-list">
            <a href="#sec-howitworks" class="footer-list-li">how it works</a>
          </li>
          <li class="footer-li">
            <a href="#vegetables" class="footer-list-li">vegetables</a>
          </li>
          <li class="footer-li">
            <a href="#reviews" class="footer-list-li">reviews</a>
          </li>
        </ul>
        </nav>

        <address>
        <ul class="page-address">
          <li>
            <a href="tel:+380684439426" class="footer-link"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li>
            <a href="https://www.google.com/maps/place/1678+S+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+USA/" class="footer-link"
              >1678 S. Pioneer Road Salt <br />
              Lake City UT 8410</a
            >
          </li>
        </ul>
        </address>
      </div>
    </div>

    <div class="footer-privpol">
      <div class="footer-privpol-block">
        <a href="" class="footer-link-pr">Privacy Policy</a>
        <p class="footer-link-pr">/</p>
        <a href="" class="footer-link-pr">Cookie settings</a>
      </div>
      <div class="footer-green-harvest">
        <p class="footer-harvest">©Green Harvest 2023</p>
      </div>
    </div>
  </div>
</footer>
