<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css/css.css">
    <link rel="stylesheet" href="../css/hero.css">
</head>

<body>
    <section class="hero">
        <div class="container">
            <div class="hero-content">
            <h1 class="hero-title">
                organic vegetables to your diet today!
            </h1>
            <p class="hero-text">
                Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.
            </p>
            </div>
            </div>
            <div class="hero-background"></div>
        
    </section>

</body>

</html>