<section class="vegetables">
  <div class="container">
    <h2 class="top-item" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">ORGANIC <span class="span-item">VEGETABLES</span></h2>
    <p class="info-item">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <div class="list-cont">
      <ul class="vegetables-list">
        <li class="list-item">
          <p class="images-p-one">eggplant</p>
          <p class="images-p-two">60 UAH / kg</p>

          <picture>
            <source
              media="(max-width: 767px )"
              srcset="
                /img/vegetables/vegetables-update/eggplant-phone1x.png 1x,
                /img/vegetables/vegetables-update/eggplant-phone2x.png 2x
              "
            />
            <source
              media="(min-width: 768px )"
              srcset="
                /img/vegetables/vegetables-update/eggplant-tabl1x.png 1x,
                /img/vegetables/vegetables-update/eggplant-tabl2x.png 2x
              "
            />
            <source
              media="(min-width: 1280px )"
              srcset="
                /img/vegetables/vegetables-update/eggplant-desk1x.png    1x,
                src/img/vegetables/vegetables-update/eggplant-desk2x.png 2x
              "
            />
            <img src="/img/vegetables/eggplant.png" alt="eggplant" />
          </picture>
        </li>
        <li class="list-item">
          <p class="images-p-one">leek</p>
          <p class="images-p-two">50 UAH / kg</p>

          <picture>
            <source
              media="(max-width: 767px )"
              srcset="
                /img/vegetables/vegetables-update/leek-phone1x.png 1x,
                /img/vegetables/vegetables-update/leek-phone2x.png 2x
              "
            />
            <source
              media="(min-width: 768px )"
              srcset="
                /img/vegetables/vegetables-update/leek-tabl1x.png 1x,
                /img/vegetables/vegetables-update/leek-tabl2x.png 2x
              "
            />
            <source
              media="(min-width: 1280px )"
              srcset="
                /img/vegetables/vegetables-update/leek-desk1x.png 1x,
                /img/vegetables/vegetables-update/leek-desk2x.png 2x
              "
            />
            <img src="/img/vegetables/leek.png" alt="leek" />
          </picture>
        </li>
        <li class="list-item">
          <p class="images-p-one">mushrooms</p>
          <p class="images-p-two">40 UAH / kg</p>

          <picture>
            <source
              media="(max-width: 767px )"
              srcset="
                /img/vegetables/vegetables-update/mushroom-phone1x.png 1x,
                /img/vegetables/vegetables-update/mushroom-phone2x.png 2x
              "
            />
            <source
              media="(min-width: 768px )"
              srcset="
                /img/vegetables/vegetables-update/mushroom-tabl1x.png 1x,
                /img/vegetables/vegetables-update/mushroom-tabl2x.png 2x
              "
            />
            <source
              media="(min-width: 1280px )"
              srcset="
                /img/vegetables/mushroom-desk1x.png  1x,
                /img/vegetables/mushrooms-desk2x.png 2x
              "
            />
            <img src="/img/vegetables/mushrooms.png" alt="mushrooms" />
          </picture>
        </li>
        <li class="list-item">
          <p class="images-p-one">corn</p>
          <p class="images-p-two">60 UAH / kg</p>

          <picture>
            <source
              media="(max-width: 767px )"
              srcset="
                /img/vegetables/corn-phone1x.png 1x,
                /img/vegetables/corn-phone2x.png 2x
              "
            />
            <source
              media="(min-width: 768px )"
              srcset="
                /img/vegetables/corn-tabl1x.png 1x,
                /img/vegetables/corn-tabl2x.png 2x
              "
            />
            <source
              media="(min-width: 1280px )"
              srcset="
                /img/vegetables/corn-desk1x.png 1x,
                /img/vegetables/corn-desk2x.png 2x
              "
            />
            <img src="/img/vegetables/corn.png" alt="corn" />
          </picture>
        </li>
        <li class="list-item">
          <p class="images-p-one">sweet potatoes</p>
          <p class="images-p-two">50 UAH / kg</p>
          <picture>
            <source
              media="(max-width: 767px )"
              srcset="
                /img/vegetables/potato-phone1x.png 1x,
                img/vegetables/potato-phone2x.png  2x
              "
            />
            <source
              media="(min-width: 768px )"
              srcset="
                /img/vegetables/potato-tabl1x.png 1x,
                /img/vegetables/potato-tabl2x.png 2x
              "
            />
            <source
              media="(min-width: 1280px )"
              srcset="
                /img/vegetables/potato-desk1x.png 1x,
                /img/vegetables/potato-desk2x.png 2x
              "
            />
            <img src="/img/vegetables/sweetpotatoes.png" alt="sweet potatoes" />
          </picture>
        </li>
        <li class="list-item">
          <p class="images-p-one">carrot</p>
          <p class="images-p-two">40 UAH / kg</p>
          <picture>
            <source
              media="(max-width: 767px )"
              srcset="
                /img/vegetables/carrot-phone1x.png 1x,
                /img/vegetables/carrot-phone2x.png 2x
              "
            />
            <source
              media="(min-width: 768px )"
              srcset="
                /img/vegetables/carrot-tabl1x.png 1x,
                /img/vegetables/carrot-tabl2x.png 2x
              "
            />
            <source
              media="(min-width: 1280px )"
              srcset="
                /img/vegetables/carrot-desk1x.png 1x,
                /img/vegetables/carrot-desk2x.png 2x
              "
            />
            <img src="/img/vegetables/carrot.png" alt="carrot" />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
