<link rel="stylesheet" href="../css/vegetables.css">
<section class="vegetables">
  <div class="container">
<h2 class="top-item">ORGANIC <span class="span-item">VEGETABLES</span></h2>
<p class="info-item">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
<ul class="vegetables-list">
<li class="list-item">
<p class="images-p-one">eggplant</p>
<p class="images-p-two">60 UAH / kg</p>
<img src="../img/vegetables/eggplant.png" alt="eggplant">
</li>
<li class="list-item">
<p class="images-p-one">leek</p>
<p class="images-p-two">50 UAH / kg</p>
<img src="../img/vegetables/leek.png" alt="leek">
</li>
<li class="list-item">
<p class="images-p-one">mushrooms</p>
<p class="images-p-two">40 UAH / kg</p>
<img src="../img/vegetables/mushrooms.png" alt="mushrooms">
</li>
<li class="list-item">
<p class="images-p-one">corn</p>
<p class="images-p-two">60 UAH / kg</p>
<img src="../img/vegetables/corn.png" alt="corn">
</li>
<li class="list-item">
<p class="images-p-one">sweet potatoes</p>
<p class="images-p-two">50 UAH / kg</p>
<img src="../img/vegetables/sweetpotatoes.png" alt="sweet potatoes">
</li>
<li class="list-item">
<p class="images-p-one">carrot</p>
<p class="images-p-two">40 UAH / kg</p>
<img src="../img/vegetables/carrot.png" alt="carrot">
</li>
</ul>
</div>
</section>