<section class="your-order">
  <div class="container container-order">
    <!-- ------------- Introduction ------------- -->

    <h2 class="order-head">
      Fresh <span class="order-head-span">Harvest</span> Box has got you covered
    </h2>
    <p class="order-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>

    <!-- ------------- Form ------------- -->

    <div class="order-from-social-container">
      <div class="order-form-container">
        <p class="order-form-title">
          Ordering <span class="order-title-span-one">from us</span> is quick
          and easy! Fill out
          <span class="order-title-span-two">the form</span> below and we will
          contact you !
        </p>
        <form class="order-form">
          <div class="order-field">
            <label for="user-name" class="order-label visually-hidden"
              >Full Name</label
            >
            <input
              type="text"
              name="user-name"
              class="order-input"
              id="user-name"
              placeholder="Full Name"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
          </div>

          <div class="order-field">
            <label for="user-email" class="order-label visually-hidden"
              >Email</label
            >
            <input
              type="email"
              name="user-email"
              class="order-input"
              id="user-email"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
          </div>

          <div class="order-field order-field-comment">
            <label for="user-comment" class="order-label visually-hidden"
              >Comment</label
            >
            <textarea
              name="user-comment"
              id="user-comment"
              class="order-textarea"
              placeholder="Comment"
            ></textarea>
          </div>

          <button type="submit" class="order-submit-btn">Send</button>
        </form>
      </div>

      <!-- ------------- Social ------------- -->

      <div class="order-social-container">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
 feature/your-order
              ./img/order-pic-desk-1x.jpg 1x,
              ./img/order-pic-desk-2x.jpg 2x

            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
 feature/your-order
              ./img/order-pic-tab-1x.jpg 1x,
              ./img/order-pic-tab-2x.jpg 2x

            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
 feature/your-order
              ./img/order-pic-mob-1x.jpg 1x,
              ./img/order-pic-mob-2x.jpg 2x

            "
          />
          <img
            src="../img/order-pic-tab-1x.jpg"
            class="order-social-picture"
            alt="product-ad"
            width="528"
          />
        </picture>

        <div class="order-social-info">
          <p class="order-social-text">Follow us on our social networks:</p>

          <ul class="order-social-list">
            <li class="order-social-list-item">
              <a
                class="order-social-list-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                >instagram</a
              >
            </li>

            <li class="order-social-list-item">
              <a
                class="order-social-list-link social-decoration"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                >facebook</a
              >
            </li>

            <li class="order-social-list-item">
              <a
                class="order-social-list-link"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                >youtube</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
