.div-footer-container {
    padding: 40px 20px;
}

.footer-logo {
    margin-top: 2px;
}

.footer-p-container {
    margin-top: 16px;
}

.footer-p {
    color: #fbfbfb;
}

.footer-list {
    margin-top: 40px;
    width: 155px;
    height: 112px;
}


.footer-ul {
    list-style-type: none;

}

.footer-li1 {
    margin-top: 0;
}

.footer-how-it-works {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: var(--main-text);
    color: #fbfbfb;
}

.footer-li2 {
    margin-top: 14px;
}

.footer-vegatables {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: var(--main-text);
    color: #fbfbfb;
}

.footer-li3 {
    margin-top: 14px;
}

.footer-reviews {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: var(--main-text);
    color: #fbfbfb;
}

.footer-address-div {
    margin-top: 40px;
    width: 215px;
    height: 68px;
}

.footer-address {
    color: #fbfbfb;
}

.footer-call{
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: var(--main-text);
}