body {
    font-family: 'Inter Tight', sans-serif;
    color: #fbfbfb;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 374px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
        width: 1280px;
    }
}
.hero {
    width: 100%;
    display: inline-flex;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #576F35;
    min-width: 375px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}

@media screen and (min-width: 768px) {
    .hero-content .hero-title {
        gap: 25px;
        align-items: center;
        justify-content: center;
    }
}

.hero-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    margin: 0, auto;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 76px;
    }

}

.hero-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28571;
}

@media screen and (min-width: 768px) {
    .hero-text {
        font-size: 16px;
        line-height: 1.25;
        width: 603px;
    }
}

.hero-background {
    margin-top: 40px;
    width: 375px;
    height: 370px;
    background-image: linear-gradient(0deg, rgba(20, 20, 20, 0.20) 0%, rgba(20, 20, 20, 0.20) 100%),
            url(../img/hero@1x-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
    .hero-background {
        background-image: linear-gradient(0deg, rgba(20, 20, 20, 0.20) 0%, rgba(20, 20, 20, 0.20) 100%),
                url(../img/hero@2x-mobile.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero-background {
        margin-top: 50px;
        width: 768px;
        height: 539px;
        background-image: linear-gradient(0deg, rgba(20, 20, 20, 0.20) 0%, rgba(20, 20, 20, 0.20) 100%),
                url(../img/hero@1x-tablet.jpg);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .hero-background {
        background-image: linear-gradient(0deg, rgba(20, 20, 20, 0.20) 0%, rgba(20, 20, 20, 0.20) 100%),
            url(../img/hero@2x-tablet.jpg);
        }
}
