.vegetables-list {
    margin-top: 40px;
    width: 100%;
    list-style-type: none; 
    flex-direction: column;
    display: flex;
    row-gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.list-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.vegetables {
    display: flex;
    padding: 80px 20px;
    flex-direction: column;
    align-items: start;
    background-color: #7a3145;
}

.top-item {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.05;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.span-item {
    opacity: 30%;
}

.info-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 40px;
}

.images-p-one {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #7a3145;
    margin-bottom: 12px;
}

.images-p-two {
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
}

.list-item {
    max-width: 346px;
    background-color: #fbfbfb;
    border-radius: 40px;
    padding: 32px 26px;
}


         /*-----MEDIA-----*/

    /*-----768-----*/    
    @media screen and (min-width: 768px) {
        .top-item {
            font-size: 64px;
            line-height: 1;
        }

        .info-item {
            font-size: 16px;
            line-height: 1.25;
        }

        .container {
            padding-left: 16px;
        }

        .vegetables-list {
            margin-top: 50px;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 28px;
            display: flex;
            justify-content: center;
        }

        .list-item {
            width: calc(( 100% - 2*20px ) / 2);
        }
    }

    /*-----1280-----*/ 
    @media screen and (min-width: 1280px) {
        .top-item { 
            width: 508px;
        }

        .info-item { 
            width: 626px;
        }

        .list-item {
            width: calc(( 100% - 2*21px ) / 3); 
    } 

    .container {
        padding-left: 90px;
    }

        .vegetables-list { flex-direction: row;
            flex-wrap: wrap;
            column-gap: 20px;
            display: flex;
    }
}